@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --color-primary: #079893;
    --color-secondary: #ecc94b;
    --box-shadow-1: 0px 4px 16px rgba(0, 0, 0, 0.05);
    --border-radius: 4px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
